<!DOCTYPE html>
<html>
  <head>
    <title>CertifNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
     <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= image_tag "logo2.png" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%= root_path %>">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= dashboard_path %>">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Commencer à louer
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="<%= cars_path %>">Tous nos véhicules</a></li>
                <li><a class="dropdown-item" href="<%= cars_path(type_car: "S.U.V") %>">4x4</a></li>
                <li><a class="dropdown-item" href="<%= cars_path(type_car: "Citadine") %>">Citadine</a></li>
                <li><a class="dropdown-item" href="<%= cars_path(type_car: "Berline") %>">Berline</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                        <div class="single_footer">
                            <h4>EN SAVOIR PLUS</h4>
                            <ul>
                                <li><a href="#">Comment ça marche ?</a></li>
                                <li><a href="#">Un service de confiance</a></li>
                                <li><a href="#">Aide </a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single_footer single_footer_address">
                            <h4>DÉCOUVRIR</h4>
                            <ul>
                                <li><a href="#">Assurance</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Professionnels </a></li>
                                <li><a href="#">Applis mobile</a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single_footer single_footer_address">
                            <h4>Newsletter</h4>
                            <div class="signup_form">
                                <form action="#" class="subscribe">
                                    <input type="text" class="subscribe__input" placeholder="Adresse email">
                                    <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="social_profile">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div><!--- END COL -->
                </div><!--- END ROW -->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <p class="copyright">Copyright © 2022 <a href=" <%= root_path %>">Easydrive</a>.</p>
                    </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->
        </div>
  </body>
</html>
